h1, h2 {
    font-family: 'Rock Salt';
    text-shadow: 2px 2px black;
    color: white;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}
p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}
#aboutText {
    text-align: center;
    margin-top: 55px;
}
.media {
    margin-top: 50px;
    margin-left: 50px;
}

#singleLessons, #lessonPackages, #howItWorks {
    text-align: center;
    margin-top: 50px;
    font-size: 5rem;
    color: #4c8d61;
}

/*Navbar CSS*/
#navUrl {
    font-family: 'Alegreya Sans SC';
    font-size: 2.0rem;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}
.button-primary {
    position: relative;
    background-color: #4c8d61;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}
.button-primary:hover {
    color: #065232;
    text-decoration: none;
}
.button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}
.button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
}
.header-area {
    position: relative;
    height: 75vh;
    background: #036661;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
}
#header-area2 {
    position: relative;
    height: 50vh;
    background: #036661;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
}
.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}
.banner h1 {
    font-weight: 800;
}
.banner p {
    font-weight: 700;
}
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}
.navbar .navbar-brand {
    font-family: 'Rock Salt';
    font-size: 1.5rem;
}
.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #33ca6d;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}
.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}
.content {
    padding: 120px 0;
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }
.navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
    }
.navbar.fixed-top .navbar-nav {
    background: transparent;
    }
}
@media screen and (min-width: 767px) {
.banner {
    padding: 0 150px;
    }
.banner h1 {
    font-size: 5rem;
    }
.banner p {
    font-size: 2rem;
    }
.navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
    }
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
    }
.navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    }
.dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    }
}
@-webkit-keyframes navbar-animation {
    0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    }   
    100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    }
}
@keyframes navbar-animation {
    0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}
@-webkit-keyframes dropdown-animation {
    0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    }
    75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
    }
    100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    }
}
@keyframes dropdown-animation {
    0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    }
    75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
    }
    100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    }
}

/*Footer CSS*/
.footer-distributed {
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font:20px Alegreya Sans SC;
    font-size: 1.8rem;
    padding: 55px 50px;
    margin-top: 80px;
}
#footerNoMargin {
    margin-top:0px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
  /* Footer left */
.footer-distributed .footer-left {
    width: 40%;
}
  /* The company logo */
.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}
/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
}
.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  

/*Contact Form*/
#contactBody {
    background-color: #465c72;
    background-image: url("../images/contact-bg-image.jpg");
    opacity: 1.0;
}
.wrapper > *{
    padding: 1em;
    margin-top: 100px;
}
.company-info{
    background: #036661;
}

.company-info h3, .company-info ul{
    color:#fff;
    text-align: center;
    margin: 0 1rem;
}

.contact {
    background-color: #036661;
}
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} 
.contact form label {
    display: block;
    color: #f6f8f7;
}

.contact form p {
    margin: 0;
}

.contact form .full{
    grid-column: 1 / 3;
    color: #fff;
    letter-spacing: 1.8px;
}
.form-heading {
    text-align:center;
    font-size:1.2rem;
    letter-spacing:1.8px;
    color: #fff;
}

.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #07834f;
    background-color: #465C72;
    color: #fff;
}

.contact form button{
    background: #4c8d61;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
    
    background: #c6dcf2;
    color: #000;
    outline: 0;
    transition: background-color 2s ease-out;
}


/* Large Screens */
@media(min-width:700px){

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .wrapper > *{
        padding: 2em;
    }
    .company-info h3, .company-info ul, .brand {
        text-align: left;
    }
}

/*Lesson Cards CSS*/

/*Testimonial CSS*/
.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    background: url("../images/testimonial-bg-image3.jpg");
    min-height: 375px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}
#testimonial4 .carousel-inner:hover{
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
    overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px 3px;
    background-color: #9dd3af;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
    height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.testimonial4_control_button .carousel-control{
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
    transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
    left: 7%;
    top: 50%;
    right: auto;
}
.testimonial4_control_button .carousel-control.right{
    right: 7%;
    top: 50%;
    left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}

.testimonial4_header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
}
.testimonial4_header h4{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    text-shadow: 2px 2px #000;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
    color: #ffffff;
    text-shadow: 2px 2px #000;
    font-family: 'Rock Salt';
    font-size: 22px;
}

.testimonial .carousel {
    padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

/* Home Carousel */
#carousel .carousel-item.boat {
    background-image: url("../images/CG+Studio+7.jpg");
}

#carousel .carousel-item.sea {
    background-image: url("../images/IMG_4092.JPG");
}

#carousel .carousel-item.river {
    background-image: url("../images/CG+Studio+7.jpg");
}

#carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
}

#carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
}

/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #4c8d61;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #4c8261;
    background-color: #ffffff;
    border-color: #4c8261;
}

/*Pricing Cards*/
.price_table {
    margin-top: 50px;
    margin-bottom: 50px
}

.mypricing_content {
    background-color: #fff
}

.text-center {
    color: #fff
}

.mypricing_content .mypricing_head_price {
    background-color: #f6f6f6
}

.mypricing_content .mypricing_head_price .mypricing_head_content .head_bg {
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4
}

.mypricing_content .mypricing_head_price .mypricing_head_content .head span {
    color: #525252
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .sign {
    color: #414141
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .currency {
    color: #414141
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .cent {
    color: #414141
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .month {
    color: #414141
}

.mypricing_content .mypricing_feature_list ul li {
    color: #a7a7a7
}

.mypricing_content .mypricing_feature_list ul li span {
    color: #414141
}

.mypricing_content .mypricing_feature_list ul li:hover {
    background-color: #E4E4E4;
    border-left: 5px solid #4c8d61
}

.mypricing_content .mypricing_price_btn a {
    border: 1px solid #4c8d61;
    color: #4c8d61
}

.mypricing_content.active .mypricing_head_price .mypricing_head_content .head_bg,
.mypricing_content:hover .mypricing_head_price .mypricing_head_content .head_bg {
    border-color: #4c8d61 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #4c8d61;
    color: #fff
}

.mypricing_content:hover .mypricing_head_price .mypricing_head_content .head span,
.mypricing_content.active .mypricing_head_price .mypricing_head_content .head span {
    color: #fff
}

.mypricing_content:hover .mypricing_price_btn a,
.mypricing_content.active .mypricing_price_btn a {
    background-color: #4c8d61;
    color: #fff
}

    {
    margin: 50px 0 50px 0;
    font-family: 'Open Sans', sans-serif
}

.row .table {
    padding: 28px 0
}

.mypricing_content {
    overflow: hidden;
    position: relative;
    text-align: center
}

.mypricing_content .mypricing_head_price {
    margin: 0 0 20px 0
}

.mypricing_content .mypricing_head_price .mypricing_head_content {
    margin: 0 0 50px 0
}

.mypricing_content .mypricing_head_price .mypricing_head_content .head_bg {
    border-style: solid;
    border-width: 90px 1329px 3px 399px;
    position: absolute
}

.mypricing_content .mypricing_head_price .mypricing_head_content .head {
    padding-top: 26px;
    position: relative;
    z-index: 1
}

.mypricing_content .mypricing_head_price .mypricing_head_content .head span {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase
}

.mypricing_content .mypricing_head_price .mypricing_price_tag {
    padding: 0 0 20px
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price {
    display: block
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .sign {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .currency {
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .price .cent {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom
}

.mypricing_content .mypricing_head_price .mypricing_price_tag .month {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom
}

.mypricing_content .mypricing_feature_list ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.mypricing_content .mypricing_feature_list ul li {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s
}

.mypricing_content .mypricing_feature_list ul li:hover {
    transition: all 0.3s ease-in-out 0s
}

.mypricing_content .mypricing_feature_list ul li .fa {
    padding: 0 10px
}

.mypricing_content .mypricing_price_btn {
    margin: 20px 0 32px
}

.mypricing_content .mypricing_price_btn a {
    border-radius: 5px;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase
}

.mypricing_content,
.mypricing_content:hover,
.mypricing_content .mypricing_head_price .mypricing_head_content .head_bg,
.mypricing_content:hover .mypricing_head_price .mypricing_head_content .head_bg,
.mypricing_content .mypricing_head_price .mypricing_head_content .head h2,
.mypricing_content:hover .mypricing_head_price .mypricing_head_content .head h2,
.mypricing_content .price,
.mypricing_content:hover .price,
.mypricing_content .mypricing_price_btn a,
.mypricing_content:hover .mypricing_price_btn a {
    transition: all 0.3s ease-in-out 0s
}

@media (max-width: 320px) {}

@media (max-width: 767px) {
    .mypricing_content {
        margin-bottom: 75px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-3 {
        float: left;
        width: 50%
    }

    .col-md-4 {
        float: left;
        width: 50%
    }

    .mypricing_content {
        margin-bottom: 75px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

_home {
    font-family: 'Open Sans', sans-serif
}

.text-center h1,
.text-center h1 a {
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none
}

.demo-pic {
    margin: 0 auto
}

.demo-pic:hover {
    opacity: 0.7
}

.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-style: none;
    outline-width: medium;
    padding: 10px;
    text-align: center;
    text-transform: uppercase
}

.bottom_btn {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase
}

.demo-button:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none
}

.bottom_btn:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none
}

/*Profile Card*/
.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
    width: 100%;
    max-height: 340px
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.card:hover .card-content {
    bottom: 0px
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0
}

.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px)
}

.card:hover .card-content .social-icons li {
    transform: translateY(20px)
}

.card .card-content .social-icons li a {
    color: #fff
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px
    }
}

/*About Carousel*/
